.card-browser-container{
  height: 100%;
  .card-browser{
    height: 100%;
    display: flex;
    flex-direction: column;
    .remove-all-container{
      height: 50px;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 20px;
      .remove-all-btn{
        background: #343a40;
        border-color: #343a40;
        &:hover{
          background-color: #4b545c;
          border-color: #4b545c;
          outline: none;
        }
      }
    }
    .favorite-cards {
      height: calc(100% - 90px);
      padding-left: 20px;
      padding-right: 20px;
      .margin{
        margin-bottom: 20px;
      }
    }
  }
}

